@media screen and (min-width: 500px) {
    .wrapper {
        font-size: calc(16px + (8/1200) * 100 * 1vw);
      }
}

@media screen and (max-width: 920px) {
    .box-r {
        grid-column: 1/4;
        grid-row: 4/4;
    }
    .box-r svg {
        position: absolute;
        z-index: -1;
        top: 400px;
        left: -100px;
        width: calc(400px + (16/1200) * 25 * 1vw);
        height: calc(125px + (16/1200) * 25 * 1vw);
      }
    .menu-trigger {
        z-index: 999;
        display: block;
        cursor: pointer;
    }
    .navbar {
        padding-top: 0;
    }
    .menu-trigger {
        z-index: 999;
        display: block;
        cursor: pointer;
    }

    .toggle {
        padding-top: 0;
    }

    .navbar ul {
        margin: 0 auto;
        padding: 0;
    }

    .nav-links {
        padding: 16px;
        z-index: 999;
        position: absolute;
        top: 80px;
        left: calc(100vw/2);
        width: calc(90%);
        margin-left: -100%;
        transform: translate(-50%, 0);
        border-radius: 6px;
        background-color: #808080AF;
        box-shadow: var(--menu-shadow);
    }

    .nav-links a {
        border-radius: 6px;
    }

    .nav-links.mobile-menu {
        margin-left: 0;
        background-color: white;
    }

    .nav-links ul {
        flex-direction: column;
    }

    .nav-links li a {
        font-size: var(--mobile-menu-link-font-size);
        padding: 16px;
        display: block;
        
    }
}

@media screen and (max-width: 696px) {
    .left.first-child {
        grid-column: 1/2;
        grid-row: 1/4
      }
    .right.first-child {
        grid-column: 1/4;
        grid-row: 4/4
    }

    .left.second-child {
        grid-column: 1/4;
        grid-row: 4/4;
    }

    .right.second-child {
        grid-column: 1/2;
        grid-row: 1/4;
    }

    .left.third-child {
        grid-column: 1/2;
        grid-row: 1/4
      }
    .right.third-child {
        grid-column: 1/4;
        grid-row: 4/4
    }

      .box-image {
        width: 100%;

      }
    .divulgBoxContainer {
        justify-content: center;
    }
    .divulgBoxContainer .box-div {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 620px) {
    .box-r {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 100px;
    }
    main .container-box {
        column-gap: 0;
        row-gap: 0;
    }
}

@media screen and (max-width: 260px) {
    .box-r .primary-image {
        width: 100%;
        height: 100%;
    }
}