:root {
    --background-color: #F0EFED;
    --primary-text-color: #242331;
    --background-color-button: #242331;
    --paragraph-text-color: #373F51;
    --debug-all-outline: 0px solid red;
    --primary-padding: 16px;
    --padding-bottom-sections: 60px;
    --padding-top-sections: 60px;
    --world-line-height: 1.3em
  }
  

@media screen and (min-width: 500px) {
    .wrapper {
        font-size: calc(16px + (8/1200) * 100 * 1vw);
      }
}

@media screen and (max-width: 920px) {
    div.right.box-info.third-child.t-svg svg {
        display: none;
      }
    .box-r {
        grid-column: 1/4;
        grid-row: 4/4;
    }
    .box-r svg {
        position: absolute;
        z-index: -1;
        top: 400px;
        left: -100px;
        width: calc(400px + (16/1200) * 25 * 1vw);
        height: calc(125px + (16/1200) * 25 * 1vw);
      }
    .menu-trigger {
        z-index: 999;
        display: block;
        cursor: pointer;
    }
    .navbar {
        padding-top: 0;
    }
    .menu-trigger {
        z-index: 999;
        display: block;
        cursor: pointer;
    }

    .toggle {
        padding-top: 0;
    }

    .navbar ul {
        margin: 0 auto;
        padding: 0;
    }

    .nav-links {
        padding: 16px;
        z-index: 999;
        position: absolute;
        top: 80px;
        left: calc(100vw/2);
        width: calc(90%);
        margin-left: -100%;
        transform: translate(-50%, 0);
        border-radius: 6px;
        background-color: #808080AF;
        box-shadow: var(--menu-shadow);
    }

    .nav-links a {
        border-radius: 6px;
    }

    .nav-links.mobile-menu {
        margin-left: 0;
        background-color: white;
    }

    .nav-links ul {
        flex-direction: column;
    }

    .nav-links li a {
        font-size: var(--mobile-menu-link-font-size);
        padding: 16px;
        display: block;
        
    }
}

@media screen and (max-width: 696px) {
    .second-child svg { 
        display: none;
    }
    .left.first-child {
        grid-column: 1/2;
        grid-row: 1/4
      }
    .right.first-child {
        grid-column: 1/4;
        grid-row: 4/4
    }

    .left.second-child {
        grid-column: 1/4;
        grid-row: 4/4;
    }

    .right.second-child {
        grid-column: 1/2;
        grid-row: 1/4;
    }

    .left.third-child {
        grid-column: 1/2;
        grid-row: 1/4
    }

    .right.third-child {
        grid-column: 1/4;
        grid-row: 4/4
    }

    .box-image {
        width: 100%;

    }
    .divulgBoxContainer {
        justify-content: center;
    }
    .divulgBoxContainer .box-div {
        width: 100%;
        height: 100%;
    }
    /* texto */
    .dif-section .right {
        grid-column: 1/4;
        grid-row: 1/4;
        padding: var(--padding-top-sections) 0 var(--padding-bottom-sections) 0;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    
    section.dif-section p{
        text-align: center;
    }    

    /* Image */
    .dif-section .left {
        grid-column: 1/4;
        grid-row: 4/4;
    }

    .dif-section svg {
        position: absolute;
        left: -49px;
        bottom: 0;
        z-index: -1;
        width: 100%;
        height: 300px;
    }   
}

@media screen and (max-width: 620px) {
    
    .box-l {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .box-l p {
        text-align: center;
    }
    .box-r {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 100px;
    }
    main .container-box {
        column-gap: 0;
        row-gap: 0;
    }
}

@media screen and (max-width: 596px) {

    section.dif-section div.left img {
        width: 100%;
        height: 100%;
    }
    .dif-section .right {
        grid-column: 1/3;
        grid-row: 1/4;
        padding: var(--padding-top-sections) 0 var(--padding-bottom-sections) 0;
    }
 
}

@media screen and (max-width: 390px) {
    section.dif-section p {
        text-align: center;
    }
    .left.first-child {
        grid-column: 1/4;
        grid-row: 1/4
      }
    .right.first-child {
        grid-column: 1/4;
        grid-row: 4/4
    }

    .left.second-child {
        grid-column: 1/4;
        grid-row: 4/4;
    }

    .right.second-child {
        grid-column: 1/4;
        grid-row: 1/4;
    }

    .left.third-child {
        grid-column: 1/4;
        grid-row: 1/4
    }

    .right.third-child {
        grid-column: 1/4;
        grid-row: 4/4
    }

    .container-dif .right {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (max-width: 260px) {
    .box-r .primary-image {
        width: 100%;
        height: 100%;
    }
}